<p>
  <strong>Title:</strong>
  <%= @list.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @list.text %>
</p>

<ul>
<% @list.gifts.each do |gift| %>
    <li><%= gift.title %></li>
<% end %>
</ul>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>