<%= link_to 'Home', welcome_index_path %>

<h1>Listing gifts</h1>
<%= link_to 'New gift', new_gift_path %>
<table>
<tr>
<th>Title</th>
<th>Text</th>
<th></th>
</tr>

<% @gifts.each do |gift| %>
  <tr>
  <td><%= gift.title %></td>
  <td><%= gift.text %></td>
  <td><%= link_to 'Show', gift_path(gift) %></td>
  <td><%= link_to 'Edit', edit_gift_path(gift) %></td>
  <td><%= link_to 'Destroy', gift_path(gift),
  method: :delete,
  data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
  </table>
  
  <br /><%= pagy_nav(@pagy).html_safe %>